@import "components/vars";
@import "components/mixins";
@import "components/print";

@include main;

h1,
h2,
h3,
h4,
h5,
h6,
span,
button,
nav a {
  font-family: $secondary_font;
  font-weight: 700;
  text-transform: uppercase;
}

body {
  overflow-x: hidden;
  position: relative;

  &::before {
    content: "";
    height: 50vh;
    width: 50vw;
    position: absolute;
    top: 0;
    right: 0;
    background-color: $lightGrayishBlue;
    z-index: -5;
    border-bottom-left-radius: 50px;
  }
}

header {
  @include wrapper(1170, 30);
  display: flex;
  min-height: 15vh;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 1;
  position: relative;

  @include media-max-width(700) {
    margin-bottom: 10%;
  }

  .main-nav {
    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      @include media-max-width(700) {
        display: none;
        position: absolute;
        top: 80px;
        left: 30px;
        border-radius: 5px;
        width: calc(100% - 60px);
        background-color: #ffffff;
        padding-top: 30px;
      }

      li {
        margin-left: 40px;

        &:hover:not(:last-child) {
          border-bottom: 1px solid #000000;
        }

        @include media-max-width(700) {
          margin-bottom: 30px;
        }
      }

      .circle {
        display: flex;
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background-color: $grayishBlue;
      }

      .login {
        display: flex;
        align-items: center;
        a {
          color: $grayishBlue;
          &:hover {
            color: rgba($color: $grayishBlue, $alpha: 0.5);
            border-bottom: 1px solid rgba($color: $grayishBlue, $alpha: 0.5);
          }
        }
      }
    }
  }
  .menu-btn {
    display: none;

    @include media-max-width(700) {
      display: block;
      cursor: pointer;
    }

    &__close {
      display: none;
    }
  }

  .show {
    display: flex;
    flex-direction: column;
  }

  .hide {
    display: none;
  }
}

main {
  @include wrapper(1170, 30);
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80vh;
  z-index: -1;
  width: 100%;

  @include media-max-width(700) {
    flex-direction: column-reverse;
  }

  .left {
    width: 50%;
    padding-top: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;

    @include media-max-width(700) {
      width: 100%;
    }

    h3 {
      color: $grayishBlue;
      letter-spacing: 6px;
      margin-bottom: 30px;
      @include media-max-width(700) {
        letter-spacing: 2px;
        margin-bottom: 15px;
      }

      button {
        outline: none;
        border-radius: 50px;
        padding: 5px 15px;
        color: #ffffff;
        background-color: #000000;
        margin-right: 10px;
        border: none;
      }
    }

    h1 {
      font-size: 64px;
      margin-bottom: 45px;

      @include media-max-width(700) {
        font-size: 30px;
        margin-bottom: 20px;
      }
    }

    .text {
      color: $grayishBlue;
      font-weight: 700;
      margin-bottom: 70px;

      @include media-max-width(700) {
        margin-bottom: 20px;
      }
    }

    .btn-text {
      .btn {
        border: none;
        border-radius: 10px;
        background-color: $primary_clr;
        color: #ffffff;
        margin-right: 20px;
        padding: 20px 35px;
        font-size: 16px;
        @include media-max-width(700) {
          margin: 0;
        }

        &:hover {
          background-color: rgba($color: $primary_clr, $alpha: 0.5);
        }
      }

      span {
        color: $grayishBlue;
        letter-spacing: 4px;
        font-weight: 400;
        font-size: 16px;
      }
    }
  }

  .right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media-max-width(700) {
      width: 100%;
    }
    img {
      max-width: 100%;
      transform: scale(2) translateX(25%);

      @include media-max-width(700) {
        transform: scale(1.5) translateX(77px) translateY(20px);
      }
    }
  }
}

.footer {
  min-height: 5vh;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  .attribution {
    color: #000000;
    text-align: center;
    a,
    a:visited,
    a:active {
      color: $primary_clr;

      &:hover {
        color: rgba($color: $secondary_clr, $alpha: 0.5);
      }
    }
  }
}
